* {
    font-family: Helvetica; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    background-image: url('../img/default-background.jpg');
    background-position: center;
}

button {
    border: 0;
    background: 0 0;
    outline: none;
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
}

#room-stats {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: lightseagreen;
    color: white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

#messages {
    position: absolute;
    width: 100%;
    top: 20px;
    bottom: 40px;
    overflow-y: scroll;
    padding-bottom: 10px;
}

#messages li {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#messages .continuous-message {
    margin-top: 2px;
}

#messages li .message-wrapper {
    float: left;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
    overflow-wrap: break-word;
    max-width: 80%;
}

#messages li .my-message {
    float: right;
    background-color: #dcf8c6;
}

#messages li .message-wrapper .message-sender {
    display: block;
    font-size: smaller;
    font-style: oblique;
    font-weight: bold;
    color: cadetblue;
}

#messages li .message-wrapper .message {
    margin-top: 5px;
    font-size: medium;
    font-family: 'Open Sans',sans-serif;
}

#message-input-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f1ee;
    box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.2);
}

#message-input {
    display: block;
    margin: 7px 5px 5px 10px;
    width: calc(100% - 60px);
    padding: 5px;
    border-radius: 3px;
    font-family: sans-serif;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.2s, border 0.2s;
    outline: none;
}

#message-input:focus {
    box-shadow: 0 0 200px 1px lightseagreen;
}

#send {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/send.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}